<%- include('../components/header.ejs') %>
<%- include('./navbarAdmin.ejs') %>
<link rel="stylesheet" type="text/css" href="../css/admin.css">

<body>

  <%- include('./modal-boardgame.ejs') %>
  <%- include('./modal-order.ejs') %>
  
  <!-- Table -->
  <div id="tableBodyDiv">
    <% if(boardgameTable){ %>
      <script src="./admin-dashboard.js"></script>
      <%- include('./table-boardgame.ejs') %>
    <% } else if(orderTable){ %> 
      <script src="./admin-order.js"></script> 
      <%- include('./table-order.ejs') %>
    <% } else {%>
      <%- include('./table-boardgame.ejs') %>
    <% }%>
  </div>

</body>
<%- include('../components/footer.ejs') %>