
<!-- Modal -->
<div class="modal fade" id="bg-info-modal" tabindex="-1" role="dialog" aria-labelledby="bg-info-modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bg-info-modal-title"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-body-item" id="modal-description"><span></span></p>
                <p class="modal-body-item" id="modal-genre"><i class="fa-solid fa-box-archive"></i><span></span></p>
                <p class="modal-body-item" id="modal-noOfPlayers"><i class="fa-solid fa-users"></i><span></span></p>
                <p class="modal-body-item" id="modal-duration"><i class="fa-solid fa-hourglass"></i><span></span></p>
                <p class="modal-body-item" id="modal-ageLimit"><i class="fa-solid fa-child"></i><span></span></p>
                <p class="modal-body-item" id="modal-language"><i class="fa-solid fa-globe"></i><span></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<h2 id="search-engine-title">Search board games</h2>

<div id="search-bars" class="input-group mb-3">
    <div id="search-bar-prepend" class="input-group-prepend">
      <span id="search-bar-prepend-text" class="input-group-text" id="inputGroup-sizing-default">Search board games</span>
    </div>
    <input id="search-input" type="text" class="form-control" placeholder="Type in the name of the board game." name="search" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    <div class="search-bar-append">
        <button id="search-btn" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
    </div>
</div>

<div class="options-group">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        genre
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <% genres.forEach(function(genre){ %>
                <button class="dropdown-item" type="button" data-value="genre-<%-genre%>"><%= genre %></button>
            <% }) %>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        no of people
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <% for (let i = 2; i < 17; i++) {%>
                <button class="dropdown-item" type="button" data-value="noOfPeople-<%-i%>"><%= i %></button>
            <% } %>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        duration
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <% for (let i = 10; i < 90; i = i + 10) {%>
                <button class="dropdown-item" type="button" data-value="duration-<%-i%>"><%= i %></button>
            <% } %>
            <button class="dropdown-item" type="button" data-value="duration-more">More than 90 mins</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        age
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <% for (let i = 1; i < 17; i++) {%>
                <button class="dropdown-item" type="button" data-value="age-<%-i%>"><%= i %> +</button>
            <% } %>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        language
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button" data-value="language-english">English</button>
        </div>
    </div>
</div>

<div class="boardgames-group">
    <% items.forEach(function(item){ %>
        <div class="card">
            <img class="card-img-top" src="<%= item.image[0] %>" alt="Card image cap">
            <div class="card-body">
                <h3 class="card-title"><%= item.name %></h3>
                <div class="boardgame-details">
                    <p id="<%= item._id %>-description" style="display: none;"><%= item.info.description %></p>
                    <p id="<%= item._id %>-genre" style="display: none;"><%= (item.info.genre).toString() %></p>
                    <p id="<%= item._id %>-noOfPlayers" style="display: none;"><%= item.info.noOfPlayersMin %> to <%= item.info.noOfPlayersMax %></p>
                    <p id="<%= item._id %>-duration" style="display: none;"><%= item.info.durationMin %> to <%= item.info.durationMax %></p>
                    <p id="<%= item._id %>-ageLimit" style="display: none;"><%= item.info.ageLimit %>+</p>
                    <p id="<%= item._id %>-language" style="display: none;">English</p>
                    <p id="<%= item._id %>-price"><span><%= item.price / 100 %></span> DKK</p>
                </div>
                <div class="user-buttons">
                    
                    <%if(subscriptionName){%>
                        <% if(item.amount > 2){ %>
                            <p>Available</p>
                            <a class="infobtn" onclick="displayInfoModal('<%= item._id %>', '<%= item.name %>')"><i class="fa-solid fa-circle-info"></i></a>
                            <a onclick="addToSelection('<%= item._id %>', '<%= item.name %>')"><i class="fa-solid fa-cart-plus"></i></a>
                        <% } else if(item.amount > 0){ %>
                            <p>Available <span class="few-left">- only a few left</span></p>
                            <a class="infobtn" onclick="displayInfoModal('<%= item._id %>', '<%= item.name %>')"><i class="fa-solid fa-circle-info"></i></a>
                            <a onclick="addToSelection('<%= item._id %>', '<%= item.name %>')"><i class="fa-solid fa-cart-plus"></i></a>
                        <% } else { %>  
                            <p class="unavailable">Unavailable</p>
                            <a class="infobtn" onclick="displayInfoModal('<%= item._id %>', '<%= item.name %>')"><i class="fa-solid fa-circle-info"></i></a>
                        <% } %>
                    <%} else{%>
                        <% if(item.amount > 2){ %>
                            <p>Available</p>
                            <a class="infobtn" onclick="displayInfoModal('<%= item._id %>', '<%= item.name %>')"><i class="fa-solid fa-circle-info"></i></a>
                            <a onclick="addToCart('<%= item._id %>', '<%= item.name %>')"><i class="fa-solid fa-cart-plus"></i></a>
                        <% } else if(item.amount > 0){ %>
                            <p>Available <span class="few-left">- only a few left</span></p>
                            <a class="infobtn" onclick="displayInfoModal('<%= item._id %>', '<%= item.name %>')"><i class="fa-solid fa-circle-info"></i></a>
                            <a onclick="addToCart('<%= item._id %>', '<%= item.name %>')"><i class="fa-solid fa-cart-plus"></i></a>
                        <% } else { %>  
                            <p class="unavailable">Unavailable</p>
                            <a class="infobtn" onclick="displayInfoModal('<%= item._id %>', '<%= item.name %>')"><i class="fa-solid fa-circle-info"></i></a>
                        <% } %>
                    <%}%>
                
                </div>
            </div>
        </div>
    <% }) %>
</div>